* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgba(211, 211, 211, 0.574);
}

header {
    background-color: white;
}

img {
    margin-left: 1em;
    vertical-align: middle;
}

.titolo {
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
    font-weight: 600;
}

main {
    margin: 0 20%;
}

.areabutton {
    margin-top: 3em;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 3em;
    border-radius: 10px 10px 0 0;
}

.bottoni {
    border-radius: 5px;
    padding: 0.2em 1em;
    font-weight: 900;
    cursor: pointer;
    border-style: none;
}

.bottoni:first-child {
    background-color: rgb(38, 132, 147);
    color: white;
    border: solid 2px rgb(38, 132, 147);
}

.bottoni:nth-child(2) {
    border: solid 2px grey;
    color: grey;
    background-color: white;
}

.arealist {
    margin-top: 0.3em;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    border-radius: 0 0 10px 10px;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 1.2em;
    color: rgb(95, 95, 95);
    margin-bottom: 0.2em;
}

li {
    margin-bottom: 1em;
}

span {
    text-align: center;
    vertical-align: middle;
    box-sizing: content;
    display: inline-block;
    width: 12px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 0.5em;
    font-weight: 500;
    border-color: green;
    color: green;
}

.cross {
    border-color: red;
    color: red;
}

.tag {
    display: inline-block;
    border: 2px solid;
    border-radius: 5px;
    font-size: 0.5em;
    padding: 0.1em 0.6em;
    color: white;
}

#blue {
    background-color: rgb(0, 166, 255);
    border-color: rgb(0, 166, 255);
}

#violet {
    background-color: violet;
    border-color: violet;
}

#green {
    background-color: green;
    border-color: green;
}

#pink {
    background-color: rgb(215, 104, 123);
    border-color: rgb(215, 104, 123);
}

#olive {
    background-color: olive;
    border-color: olive;
}