* {
    margin: 0 0 0 0.2em;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.titolo {
    display: inline-block;
    vertical-align: middle;
    font-size: 3em;
    font-weight: 600;
}

img {
    vertical-align: middle;
}

section {
    height: 100px;
    margin-bottom: 1em;
}

main {
    margin-left: 35%;
}

.bottoni {
    border-radius: 5px;
    padding: 0.5em 1em;
    font-weight: 900;
    cursor: pointer;
    border-style: none;
}

.bottoni:first-child {
    background-color: rgb(38, 132, 147);
    color: white;
    border: solid 3px rgb(38, 132, 147);
}

.bottoni:nth-child(2) {
    border: solid 3px grey;
    color: grey;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 1.2em;
}

li {
    margin-bottom: 1em;
}

span {
    text-align: center;
    vertical-align: middle;
    box-sizing: content;
    display: inline-block;
    width: 12px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 0.5em;
    font-weight: 500;
}